$color-primary: rgb(110,165,238);
$color-secondary: rgb(55,82,119);
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$color-grey: rgb(244,244,244);

$box-shadow: 0 1rem 2rem rgba(0,0,0, .1);

$large-font-size: 4.5rem;
$medium-font-size: 2rem;
$x-small-font-size: 1.6rem;
