*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5%
}

body {
    box-sizing: border-box;
    padding: 3rem;
    font-family: 'Raleway', sans-serif;
    color: $color-white;
    background: $color-grey;
}

button, select, input[type=text] {
    font-family: inherit;
    font-weight: normal;
}

#wrapper {
    background: $color-white;
    background-image: url('../graphics/gradienta-m_7p45JfXQo-unsplash.jpg');
    background-size: cover;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    box-shadow: $box-shadow;
}
